
.principal
{
background-image: linear-gradient(rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7)), url(./imgprincipal/img24.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
body{

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

p
{
  font-style: oblique;
  color:beige;
}
.nosotros
{
background-color: rgb(128, 197, 128) ;
}



.container-fluid

{
  background-color: rgb(128, 197, 128);
  border-radius: 10px;

}

#container

{
background-color: rgb(128, 197, 128);
width: 700px;
height: 300px;
margin: 50px;

}
.flex-container {
  display: flex;
  flex-direction: column;

}
.presentacion
{
float: left;
width: 850px;
padding: 55px;

}

.parrafo
{
margin-top: 130px;
font-style: oblique;
margin-right: 20px;
color: beige;
text-align: center;
font-weight: 500;


}
.clear
{

  clear: left;
}

#datosdecontacto
{
border-radius: 12px;

}

footer
{

  text-align: center;
  
  
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: -10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; text-align: center; font-style: oblique; color: grey;}
  .div2 { grid-area: 1 / 2 / 2 / 3;text-align: center; margin-top: 50px; }
  .div3 { grid-area: 1 / 3 / 2 / 4; text-align: center; font-style: oblique;color: grey;}
  .div4 { grid-area: 2 / 1 / 3 / 2; text-align: center; margin-top: -175px; font-style: oblique; color: grey;}
  .div5 { grid-area: 2 / 3 / 3 / 4; text-align: center;font-style: oblique; color: grey;}

.productos
{
background-image: linear-gradient(rgba(26, 26, 27, 0.7), rgba(92, 92, 97, 0.7)), url('imgprincipal/img1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;


}
.container
{
width: 100%;
display: flex;
max-width: 1100px;
 
}
.card
{
width: 100%;
margin: 20px;
border-radius: 6px;
overflow: hidden;
background: #fff;
box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
cursor: default;
transition: all 400ms ease;
}
.card:hover
{
  box-shadow: 5px 5px 20px rgba(0,0,0,20);
  transform: translateY(-2%);

}
.card .contenido
{
padding: 15px;
text-align: center;

}
.card .contenido a
{
  text-decoration: none;
  display: inline-block;
  color: rgb(128, 197, 128);
  border: 1px solid rgb(128, 197, 128);
  border-radius: 4px;
  transition: all 400ms ease;
  padding: 5px;
}
.card .contenido a:hover{

  background:rgb(128, 197, 128) ;
  color: black;
}
.bolsas{

  text-align: center;
  font-weight: 800;

}
h3
{
color: aqua;
text-align: center;
font-style: oblique;

}
h5
{
color: aquamarine;
text-align: center;
}
.videobolsa
{
  margin-left: 500px;
}
.parrafosorvetes{

  text-align: center;
  font-weight: 800;
}
#noticia
{
position: absolute;
width: 500px;
height: 500px;
margin-top: 800px;
margin-left: 400px;
background-color: rgb(128, 197, 128) ;
}
.noticias
{
text-align: center;
font-style: oblique;
color: grey;

}
.segmento
{
text-align: center;


}
.nav-logo:hover {
  
  border-radius: 5%;
  box-shadow: 0px 0px 10px 3px #fff;
  transform: translateY(-10%);
  transition: all 0.4s;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show>.nav-link {
  color: #fff;
  padding: 6px 10px;
  font-size: 1em;
  text-transform: uppercase;

}

.navbar .navbar-nav .nav-link:hover {
  
  border-radius: 2rem;
  transition: all 0.5s;
  transform: translateY(-10%);
  box-shadow: 0px 0px 3px 3px #fff;
}
footer
{

  border-radius: 10%;
  box-shadow: 0px 0px 5px 5px black;
  transform: translateY(-10%);
  transition: all 0.4s;
}
.img
{
  border-radius: 50%;
  height: 30px;
  margin-left: 45px;
  box-shadow: 0px 0px 5px 5px rgb(171, 182, 175);
  transition: all 400ms ease;
}
.img:hover
{
  border-radius: 4%;
  box-shadow: 0px 0px 10px 3px #fff;
  transform: translateY(-10%);
  transition: all 0.4s;


}